# dependencies
node_modules/
frontend/node_modules/
src/node_modules/

# production builds
build/
frontend/build/
src/build/

# environment files
.env
.env.*
src/.env
src/.env.*
frontend/.env
frontend/.env.*

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.pnp
.pnp.js
coverage/
frontend/coverage/
src/coverage/
